html {
    font-size: 16px;
}
body {
    background-color: #ffffffa3;
    font-family: 'DM Mono', monospace;
    color: #4e4d4d;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

input {
    line-height: normal;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

h1 {
    font-size: 3em;
}

.todo_container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    width: 600px;
}

.form_container {
    position: relative;
}

.list_container {
    margin-top: 20px;
}

.todo_form {
    display: flex;
}

.todo_element {
    display: flex;
    transition: opacity 0.3s;
}

.todo_element + .todo_element {
    margin-top: 20px;
}

.todo_element_container {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 45px 0 40px;
}

.todo_element_text {
    display: flex;
    font-size: 1.6em;
    flex-grow: 1;
    line-height: 1.3;
}

.todo_element.completed, .todo_element.deleted {
    opacity: 0;
}

.completed .todo_element_text {
    text-decoration: line-through;
}

.todo_checkbox {
    display: flex;
    left: 0;
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 50px;
    border: dashed 1px;
    transition: border-color .15s, border-width .15s;
}

.todo_element:hover .todo_checkbox {
    border: solid 2px #ffeb00db;
}

.entrybox {
    background-color: white;
    display: flex;
    flex-grow: 1;
    height: 50px;
    font-size: 1.6em;
    padding-left: 6px;
    margin-right: 10px;
    border: 1px solid #00000030;
    border-radius: 5px;
}

.submitbutton {
    background-color: #ffeb00db;
    display: flex;
    padding: 0 12px;
    border: 1px solid #ffe000d9;
    border-radius: 5px;
}

.closebutton {
    height: 24px;
    width: 24px;
    padding: 1px 6px;
    border-radius: 5px;
    left: 555px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
}

.todo_element:hover .closebutton {
    opacity: 1;
}

.show_completed_todos {
    text-decoration: none;
    padding: 5px 0;
    display: inline-block;
    line-height: 1;
    color: #4e4d4d;
}

.completed_link {
    margin-top: 10px;
}

.completed_link:hover .show_completed_todos {
    color: #ffeb00db;
}