html {
    font-size: 16px;
}
body {
    background-color: #ffffffa3;
    font-family: 'DM Mono', monospace;
    color: #4e4d4d;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

input {
    line-height: normal;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

h1 {
    font-size: 3em;
}

.completed_count {
    position: relative;
    color: #ffeb00db;
}

.todo_container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    width: 600px;
}

.todo_element {
    display: flex;
    transition: opacity 0.3s;
}

.todo_element + .todo_element {
    margin-top: 20px;
}

.todo_element_container {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 45px 0 40px;
}

.undo_button {
    display: flex;
    left: 0;
    position: absolute;
    color: #0000001f;
}

.todo_element:hover .undo_button {
    color: #ffeb00db;
    font-weight: 600;
}

.todo_element_text {
    display: flex;
    font-size: 1.6em;
    flex-grow: 1;
    line-height: 1.3;
    margin-left: 10px;
}

.todo_element.completed, .todo_element.deleted {
    opacity: 0;
}

.deletebutton {
    height: 24px;
    width: 24px;
    padding: 1px 6px;
    border-radius: 5px;
    left: 555px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
}

.todo_element:hover .deletebutton {
    opacity: 1;
}

.show_previous_page {
    text-decoration: none;
    padding: 5px 0;
    display: inline-block;
    line-height: 1;
    color: #4e4d4d;
}

.previous_page_link:hover .show_previous_page {
    color: #ffeb00db;
    font-weight: 600;
}

.previous_page_link {
    margin-top: 10px;
}

.list_container {
    margin-top: 20px;
}